body {
     color:white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background: #222222;
}

.jumbotron{
    background-color: #444;
}

h1 {
    color:darkgrey;
    font-family: 'Roboto', sans-serif;
}

.flower.selectable:hover {
    filter: drop-shadow(0px 0px 10px white);
}

.flower.selected {
    filter: drop-shadow(0px 0px 10px red);
}

.sunflower {
    z-index: 0;
}

.rose {
    z-index: 1;
}

.hydrangea {
    z-index: 2;
}

.bush {
    z-index: 3;
}

.character-image {
    position: relative;
    width: 15%;
}